h1 {
    color:blue;
}

$color: lime;

ul {
	font-size: 14px;
	color: $color;
}

ol {
	font-size: 18px;
	color: $color;
}

div {
	 font-size: 28px;
     p {
		 color: red;
	 }
	
	 ul {
		 color: blueviolet;
	 }
}

%message {
	      border: 5px dotted red;
          margin: 30px;
          padding: 20px;
          font-family: Arial,sans-serif;
          font-size: 18px;
          font-weight: bold;
}

.success {
          @extend %message;
          background-color: green;
}
.warning {
	      @extend %message;
	      background-color:yellow;
}
.error {
	    @extend %message;
	    background-color: red;
}

